
<div class="container-fluid">
    
    <div class="row mt-2 mb-2">
        <div class="col-md-12">
            <span class="float-right">
                Welcome User!
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-top-navbar [parentMyData]="myName"></app-top-navbar>
        </div>
    </div>
    
    <div class="row clearfix border">
        <div class="col-md-3 border">
            <app-side-navbar></app-side-navbar>
        </div>
        <div class="col-md-9 border">
            Dashboard body part!!
        </div>
    </div>
</div>


